/* General */
.root {
    -fx-primary: #5b49b3;
}

* {
    -fx-text-fill: white;
    -fx-font-family: "Comic Sans MS", "Comic Sans", cursive;
    -fx-font-weight: 400;
}

.header {
    -fx-background-color: #433194;
}

.bg-main {
    -fx-background-image: url('../images/doodle_background.png');
    -fx-background-size: 100% 100%;
}

.whiteButton {
    -fx-background-color: white;
}

/* Main Menu */

#menuContainer {
    -fx-pref-width: 520px;
/*    -fx-background-color: white;*/
    -fx-background-radius: 2px;
}

.menuButton {
    -fx-pref-width: 448px;
    -fx-padding: 6px 12px;
    -fx-background-color: #5bc0de;
    -fx-background-radius: 4px;
    -fx-border-size: 1px;
    -fx-border-style: solid;
    -fx-border-color: #46b8da;
    -fx-border-radius: 4px;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
}

#playButton {
    -fx-pref-width: 444px;
    -fx-padding: 10px 16px;
    -fx-background-color: #5cb85c;
    -fx-border-size: 1px;
    -fx-border-style: solid;
    -fx-border-color: #4cae4c;
    -fx-font-size: 18px;
}

#usernameLabel {
    -fx-font-size: 18px;
}

/* Main / navbar */

.navButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#navUsername {
    -fx-font-size: 18px;
}

/* Canvas */

#canvasContainer {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #2D65BA;
    -fx-border-radius: 4px;
}

.penButton {
    -fx-graphic: url("../images/pen.png")
}

.eraserButton {
    -fx-graphic: url("../images/erase.png")
}


#timerLabel {
    -fx-font-size: 24px;
}

#wordLabel {
    -fx-font-size: 24px;
}

#predictionsContainer {
    -fx-background-color: #377DE6;
    -fx-background-radius: 6px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #2D65BA;
    -fx-border-radius: 4px;
}

#predictionsContainer * {
    -fx-font-size: 16px;
}

/* Choose Profile */

#listContainer {
    -fx-background-color: #377DE6;
    -fx-background-radius: 6px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #2D65BA;
    -fx-border-radius: 4px;
}

.chooseContainer {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 4px;
}

.chooseContainer * {
    -fx-text-fill: black;
}

.profileLabel {
    -fx-pref-width: 372;
    -fx-pref-height: 25;
    -fx-background-color: #3D8BFF;
    -fx-font-size: 24;
    -fx-padding: 10px 16px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: transparent transparent #579AFF transparent;
}

.selectedProfile {
    -fx-background-color: #247BFF;
}

.chooseButton {
    -fx-text-fill: white;
}

#addButton {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-background-color: #5cb85c;
    -fx-border-size: 1px;
    -fx-border-radius: 0;
    -fx-border-style: solid;
    -fx-border-color: #4cae4c;
}

#deleteButton {
    -fx-background-color: #bb4530;
}

.textField {
    -fx-text-fill: black;
    -fx-border-size: 2px;
    -fx-border-style: solid;
    -fx-border-color: #4cae4c;
    -fx-border-radius: 2px;
}

/* Stats */

#defaultPie {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 50%;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-border-color: white;
    -fx-view-order: 2;
}

#defaultPie * {
    -fx-text-fill: grey;
}

.default-color0.chart-pie {
    -fx-pie-color: rgb(0, 160, 0);
}

.default-color1.chart-pie {
    -fx-pie-color: red;
}

#gamesPie {
    -fx-pie-label-visible: false;
    -fx-view-order: 1;
}

#gamesPie * {
    -fx-text-fill: black;
}

#usernameContainer {
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-border-color: transparent #2D65BA transparent transparent;

}

#statsUsername {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#tableView .column-header {
    -fx-background-color: #377DE6;
    -fx-font-size: 14px;
    -fx-border-style: solid;
    -fx-border-color: #2D65BA;
    -fx-border-width: 1px;
}

#tableView .table-cell {
    -fx-text-fill: black;
}

#statsContainer {
    -fx-font-size: 16px;
    -fx-padding: 16px;
}

#winStreak {
    -fx-padding: 60px 0 0 0;
    -fx-background-position: center;
    -fx-font-size: 30px;
    -fx-text-fill: black;
    -fx-background-image: url("../images/fire.png");
    -fx-background-repeat: no-repeat;
}


/* Category Display */

.descriptionLabel {
    -fx-font-size: 16px;
}