@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
/* General */
* {
    -fx-text-fill: #f2f2f2;
    -fx-font-family: 'Balsamiq Sans', cursive;
    -fx-font-weight: 400;
}

.header {
    -fx-background-color: #db3f2e;
}

.bg-main {
    -fx-background-image: url('../images/doodle_background.png');
    -fx-background-size: 100% 100%;
}

.main-button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 4 0;
    -fx-background-radius: 12;
    -fx-background-color: #d4d5d5, #f2f2f2;
    -fx-text-fill: #40396e;
    -fx-font-size: 32px;
}

.main-button:pressed {
    -fx-background-color: transparent, #f2f2f2;
    -fx-translate-y: 4;
}

.image-button {
    -fx-padding: -1;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.main-container {
    -fx-background-color: #db3f2e;
    -fx-background-radius: 12;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-box {
    -fx-fit-to-width: true;
    -fx-padding: 15px;
}

.shadow-text {
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, .22) , 6 , 1.0 , 1 , 1 );
}

/* Main Menu */

/* Main / navbar */

#navUsername {
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* Canvas */
.canvas-text {
    -fx-font-size: 40px;
}

#toolsContainer {
    -fx-padding: 5px;
}

#brushSizeBox .radio-button {
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-radius: 8;
    -fx-alignment: center;
}

#brushSizeBox .radio-button:hover, .radio-button:selected {
    -fx-background-color: rgba(0, 0, 0, .15);
}

.tool-icon {
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-radius: 8;
}

.tool-icon:hover, .tool-icon:selected {
    -fx-background-color: rgba(0, 0, 0, .15);
}

.radio-button > .radio {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0px;
  -fx-padding: 0 0 0 -8;
}
.radio-button:selected > .radio > .dot {
  -fx-background-color: transparent;
}

#predictionsContainer {
    -fx-padding: 15px;
    -fx-font-size: 16px;
}

/* Choose Profile */
.profile-button {
    -fx-max-width: Infinity;
    -fx-padding: 0 15 0 0;
    -fx-background-radius: 12;
    -fx-background-color: #f2f2f2;
    -fx-border-style: none;
    -fx-text-fill: #40396e;
    -fx-alignment: center-left;
    -fx-font-size: 32px;
}

.profile-button-text {
    -fx-max-width: Infinity;
    -fx-padding: 8 0 15 15;
    -fx-alignment: center-left;
    -fx-text-fill: #40396e;
}

.profile-button-text:selected {
    -fx-text-fill: orange;
}

#textField {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-font-size: 32px;
    -fx-text-fill: #40396e;
    -fx-prompt-text-fill: rgba(64, 57, 110, 0.7);
}

.add-profile-box {
    -fx-padding: 5 12 12 12;
    -fx-padding: 6 14 14 14;
    -fx-background-radius: 12;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-text-fill: #40396e;
    -fx-alignment: center-left;
    -fx-font-size: 32px;
    -fx-border-style: dashed;
    -fx-border-color: #db3f2e;
    -fx-border-width: 3;
    -fx-border-radius: 12;
}

.chooseContainer {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 4px;
}

.chooseContainer * {
    -fx-text-fill: black;
}

.selectedProfile {
    -fx-background-color: #247BFF;
}

.chooseButton {
    -fx-text-fill: white;
}

#deleteButton {
    -fx-background-color: #bb4530;
}

/* Stats */

#defaultPie {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 50%;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-border-color: white;
    -fx-view-order: 2;
}

#defaultPie * {
    -fx-text-fill: grey;
}

.default-color0.chart-pie {
    -fx-pie-color: rgb(0, 160, 0);
}

.default-color1.chart-pie {
    -fx-pie-color: red;
}

#gamesPie {
    -fx-pie-label-visible: false;
    -fx-view-order: 1;
}

#gamesPie * {
    -fx-text-fill: black;
}

#usernameContainer {
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-border-color: transparent #2D65BA transparent transparent;

}

#statsUsername {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#tableView .column-header {
    -fx-background-color: #377DE6;
    -fx-font-size: 14px;
    -fx-border-style: solid;
    -fx-border-color: #2D65BA;
    -fx-border-width: 1px;
}

#tableView .table-cell {
    -fx-text-fill: black;
}

#statsContainer {
    -fx-font-size: 16px;
    -fx-padding: 16px;
}

#winStreak {
    -fx-padding: 60px 0 0 0;
    -fx-background-position: center;
    -fx-font-size: 30px;
    -fx-text-fill: black;
    -fx-background-image: url("../images/fire.png");
    -fx-background-repeat: no-repeat;
}


/* Category Display */
#instructions-box {
    -fx-font-size: 24px;
}

.category-icon {
    -fx-height: 75px;
    -fx-width: 75px;
}
